*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.principal-container{
    position: relative;
    padding: 1.25rem 2rem 1.25rem 2rem;
}

.title-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
} 

.encabezado{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 1;
} 

.Title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 4rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo-principal{
    font-size: 1.5rem;
    font-weight: 800;
}

.titulo-secundario{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 128px;
}


span{
    font-family: 'Mulish', sans-serif;
}


